ion-card-title,ion-input,ion-textarea{
    color: #f9f871;
    --placeholder-color: #f9f871;
}
ion-card-title{
    display: flex;
    justify-content: center;
    align-content: center;
}
::placeholder{
    color: #f9f871;
    opacity: 1;
}
:-ms-input-placeholder{
    color: #f9f871;
}
::-ms-input-placeholder{
    color: #f9f871;
}
ion-button{
    display: flex;
    justify-content: center;
    align-content: center;
    color: #f9f871;
}
ion-card{ 
    margin-top: 30%;
    background: #334b49;
}
ion-content{
    --background: #F5F5DC;
    --background: linear-gradient(90deg,#F5F5DC 20%,#90EE90 60%, #7FFFD4 100%) ;
}